<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购买商品</title>
    <link href="https://cdn.bootcss.com/antd/3.0.2/antd.min.css" rel="stylesheet">
    <style>
        #app {
            height: 100%;
        }
    </style>
</head>
<body>
<div id="app"></div>

<script src="https://cdn.bootcss.com/lodash.js/4.17.4/lodash.min.js"></script>
<script src="//static-qa.baiwandian.cn/static/js/react/15.6.1/react.min.js"></script>
<script src="//static-qa.baiwandian.cn/static/js/react/15.6.1/react-dom.min.js"></script>
<script src="//static-qa.baiwandian.cn/static/js/mobx/3.2.0/mobx.umd.min.js"></script>
<script src="//static-qa.baiwandian.cn/static/js/mobx-react/4.2.2/index.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.19.2/moment.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.19.2/locale/zh-cn.js"></script>
<script src="https://cdn.bootcss.com/antd/3.0.2/antd.min.js"></script>
<script src="https://cdn.bootcss.com/rxjs/5.5.2/Rx.min.js"></script>
</body>
</html>
