:global {
    html {
        font-size: 100PX;
    }
    html, body {
        height: 100%;
    }

    .ant-layout {
        height: 100%;
    }

    #root {
        height: 100%;
    }

    .ant-card-head{
        background: #f7f7f7;
    }

    .main-page-component {
        background-color: rgb(240, 242, 245) !important;
    }
    .ant-layout-header{
        height: 100px;
        line-height: 100px;
    }
}
